.jwellery{
    width:250px;
    height:280px;
 

}
.jwelleryMain{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
   
   
    width:1100px;
    margin:auto;
    margin-top:30px;
}
.eachJwellery{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width:270px;
    line-height: 23px;
    letter-spacing: 0.2px;
    font-size: 16px;
}
.loading{
    margin:auto;
    width:1200px;
   
    text-align: center;
 
}
.back{
    
    font-weight: bold;
    text-decoration: none;
    display:block;
    margin:auto;
   font-family: sans-serif;
    width:150px;
    margin-top:30px;
    margin-bottom:30px;
    color:black;
    font-size: 25px;
    border:3px solid black;
    text-align: center;
    border-radius:7px;
    background-color: rgb(211, 211, 211);
}
.back:hover{
    color:red;
    cursor:pointer;
    text-decoration-line: underline;
}